html * {
  font-size: 1.3vw;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
ol>li,ol>li:hover{
  background-color: white;
  color: black;
}
.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(227, 224, 224);
  overflow-x: hidden;
  padding-left: .5vw;
}
h2 {
  font-size: 3vw
}
ul {
  /* min-height: 10vh; */
  background: rgb(232, 232, 232);
}

#optionsFiB>li:hover {
  /* vertical-align: top; */
  background-color: #a4a3a36a;
  color: #8424AC;
  margin-left: .5vw;
  margin-right: .5vw;
}

#proof, #proof>p {
  line-height: 3.5vh;
  margin-inline-start: 1vw;
  padding-right: 1.1vw;
  background: #fff6ef;
}

.ans,
#optionsFiB>li,
#optionsFiB>li:hover {
  /* stops text from jumping */
  vertical-align: text-top;
  height: 3vh;
  /* width: 10vw; */
  /* margin-left: .5vw;
  margin-right: .5vw; */
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-left: .25vw;
  margin-right: .25vw;
}
.ans {
  color: blue;
  border-bottom: .2vw solid black;
}
.ans:empty:before {
  content: "\00a0";
}
