html * {
   font-size: 1.5vw;
   line-height: 1.25;
   font-family: Arial, Helvetica, sans-serif;
}
/* The sidenav */
.sidenav {
   height: 100%;
   width: 15%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(227, 224, 224);
   overflow-x: hidden;
   padding-left: .5vw;

 }
 
 /* Page content */
 .main {
   margin-left: 17%; /* Same as the width of the sidenav */
   width: 83%;
 }
h1 {
   font-size: 4vw;
}
h2 {
    font-size: 3vw
}
ul {
   list-style-type: none;
   margin: 0;
   background: rgb(154, 155, 157);
   padding: 0vw;
   width: 100%;
   float: left;
}
img {
   width: 50%;
   margin-left: 20%;
   padding: .2vw;
   max-width: 100%;
}
#Axiom {
   list-style-type: none;
   counter-reset: elementcounter;
   padding-left: 0;
 }
#axiom:before {
   content: "Axiom " counter(elementcounter) ":  ";
   counter-increment: elementcounter;
   font-weight: bold;
 }
.shuffled, .shufflerstep {
   background: white;
   border: .2vw solid black;
   border-radius: 1vw;
   color: black;
   margin: .25vw .5vw .25vw .5vw;
   padding: .5vw;
   /* display: table-column; */
   vertical-align: middle;
}
#statement_opt, #justification_opt {
   background: #AFAFAF;
   border: .2vw solid black;
   color: white;
}
#statement, #justification, #step {
   background: white;
   border: .2vw solid black;
   color: black;
   width: 100%;
   /* display: table-column;  */
}
#step>li{
   background-color: lightgray;
   border: .2vw solid black;
   border-radius: 1vw;
   color: black;
   padding: .5vw;
}
table {
   table-layout: fixed;
   width: 100%;
}
.auto {
   width:5%;
   /* white-space: nowrap;  */
   /* background: white; */
 }
div {
   padding-left: 1vw;
   padding-bottom: 1vw;
   width: 90%;
   float: left;
}
td {
   vertical-align: top;
}
#statement>li, #justification>li {
   background-color: #B1D6FC;
   border: .2vw solid black;
   border-radius: 1vw;
   color: #8424AC;
}
#statement>li:hover, #justification>li:hover, li:hover{
   background-color: #dad9d9;
   color: #8424AC;
   font: bold;
}
#reset {
   border: 0vw;
   background-color: #E68143;
   color: white;
   font-size: 5vw;
}
#reset:hover {
  color: black;
}
/* For watermark */
#background{
   position:absolute;
   z-index:0;
   background:white;
   display:block;
   min-height:50%; 
   min-width:50%;
   color:lightgray;
}
#content{
   position:relative;
   padding-right: 10%;
   z-index:1;
}
#bg-text
{
   color:lightgrey;
   font-size:12vw;
   transform:rotate(300deg);
   -webkit-transform:rotate(300deg);
}
