html * {
   font-size: 1.1vw;
   line-height: 1.25;
   font-family: Arial, Helvetica, sans-serif;
}
/* The sidenav */
.sidenav {
   height: 100%;
   width: 15%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #e3e0e0;
   overflow-x: hidden;
   padding-left: .25vw;
   font-size: 1.1vw;
 }
 .shufflerstep{
   display: flex;
   align-items: center;
 }

 /* Page content */
 .main {
   margin-left: 15%; /* Same as the width of the sidenav */
   width: 83%;
 }
h1 {
   font-size: 4vw;
}
h2 {
    font-size: 3vw
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0vw;
   width: 100%;
   float: left;
}
img {
   width: 50%;
   margin-left: 20%;
   padding: .2vw;
   max-width: 100%;
}
#Axiom {
   list-style-type: none;
   counter-reset: elementcounter;
   padding-left: 0;
   list-style-position: inside;
   margin-left: 6em;
   text-indent: -6em;
 }
 .axiom{
   text-indent: -4.5em;
 }
.axiom:before {
   content: "Axiom " counter(elementcounter) ":  ";
   counter-increment: elementcounter;
   font-weight: bold;
   text-indent: -4.5em;
 }
.shuffled, .shufflerstep {
   background-color: #f2f2f2;
   /* border-bottom: .2vw solid black; */
   /* border-radius: 1vw; */
   color: black;
   margin: .25vw .5vw .25vw .5vw;
   padding: .5vw;
   /* display: table-column; */
   vertical-align: middle;
}
.shuffler1, .shuffler2, #step {
   /* background: white; */
   border-left: .1vw solid #949393;
   border-right: .1vw solid #949393;
   color: black;
   width: 100%;
   /* display: table-column;  */
}
#step>li{
   background-color: #e8e8e8;
   /* border-bottom: .2vw solid black; */
   /* border-radius: 1vw; */
   color: black;
   padding: .5vw;
}
table {
   table-layout: fixed;
   width: 100%;
}
td {
   vertical-align: top;
}
td:empty::after{
   content: "\00a0";
 }
.auto {
   width:5%;
   /* white-space: nowrap;  */
   /* background: white; */
}
div {
   padding-left: 1vw;
   padding-bottom: 1vw;
   width: 90%;
   float: left;
}
#statement>li, #justification>li, #check {
   background-color: #3193F5;
   color: white;
   border: none;
}
#statement>li:hover, #justification>li:hover, li:hover{
   background-color: #a4a3a36a;
   color: #8424AC;
   font: bold;
}
#reset {
   background-color: #E68143;
   color: white;
   font-size: 2vw;
   float: right;
}
#reset, #check {
   border: 0vw;
   font-size: 2vw;
}
#reset:hover, #check:hover{
  color: black;
}
/* For watermark */
#background{
   position:absolute;
   z-index:0;
   background:white;
   display:block;
   min-height:50%; 
   min-width:50%;
   color:lightgray;
}
#content{
   position:relative;
   padding-right: 10%;
   z-index:1;
}
#bg-text
{
   color:lightgrey;
   font-size:12vw;
   transform:rotate(300deg);
   -webkit-transform:rotate(300deg);
}
