html * {
   font-size: 14px;
   line-height: 1.25;
   font-family: Arial, Helvetica, sans-serif;
}
/* The sidenav */
.sidenav {
   height: 100%;
   width: 15%;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(227, 224, 224);
   overflow-x: hidden;
   padding: 15px;
 }
 
 /* Page content */
 .main {
   margin-left: 17%; /* Same as the width of the sidenav */
   width: 83%;
 }
h1 {
   font-size: 24px;
}
h2 {
    font-size: 18px
}
ul {
   list-style-type: none;
   margin: 0;
   background: rgb(154, 155, 157);
   padding: 0px;
   width: 100%;
   float: left;
}
/* .shuffler1 {
   width: 100%;
}
.shuffler2 {
   min-width: 100%;
} */
img {
   width: 50%;
   margin-left: 20%;
   padding: 2px
}
#Axiom {
   list-style-type: none;
   counter-reset: elementcounter;
   padding-left: 0;
 }
#axiom:before {
   content: "Axiom " counter(elementcounter) ":  ";
   counter-increment: elementcounter;
   font-weight: bold;
 }
.shuffled {
   background: white;
   border: 2px solid black;
   border-radius: 10px;
   color: black;
   margin: 0 5px 5px 5px;
   padding: 5px;
}
#statement_opt, #justification_opt {
   background: #AFAFAF;
   border: 2px solid black;
   color: white;
}
#statement, #justification {
   background: white;
   border: 2px solid black;
   color: black;
   width: 100%;
}
table {
   table-layout: fixed;
   width: 100%;
}
div {
   padding-left: 10px;
   padding-bottom: 10px;
   width: 90%;
   float: left;
}
td {
   vertical-align: top;
}
#statement>li, #justification>li {
   background-color: #B1D6FC;
   border: 2px solid black;
   border-radius: 10px;
   color: #8424AC;
}
#statement>li:hover, #justification>li:hover, li:hover{
   background-color: #dad9d9;
   color: #8424AC;
   font: bold;
}
#reset {
   border: 0px;
   background-color: #E68143;
   color: white;
   font-size: 24px;
}
#reset:hover {
  color: black;
}
/* For watermark */
#background{
   position:absolute;
   z-index:0;
   background:white;
   display:block;
   min-height:50%; 
   min-width:50%;
   color:lightgray;
}
#content{
   position:absolute;
   z-index:1;
}
#bg-text
{
   color:lightgrey;
   font-size:120px;
   transform:rotate(300deg);
   -webkit-transform:rotate(300deg);
}